@keyframes ball {
    from {
        transform: translate(150%, 150%) rotate(-720deg) scale(0.5);
    }
    50% {
        transform: translate(-500%, 50%) rotate(-1800deg) scale(1.5);
    }    
    to {
        transform:  translate(0%, 0%) rotate(0deg);

    }
}

.ball {
    animation: ball 3s ease-in;
}

.ball {
     margin: 10% 50%;
}

.text {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    background-color: black;
    color: white;
}